*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Coda;
}
html{
    font-size: 62.5%;
    overflow-y: hidden;
}
body{
    background-color: #41539B;
    font-size: 1.6rem;
}

#WheelText{
    height: 70rem;
    width: 70rem;
}
#para{
    z-index: 5;
    padding-left: 18%;
    padding-top: 51%;
    width: 35%;
    height: 35%;
    color: yellow;
    border-radius: 50%;
    shape-outside: circle(50%);
}
#mainWheel{
    height: 70rem;
    width: 70rem;
    object-position: 0px 0px;
    position: absolute;
    z-index: -5;
}

